.app-container {
  background-color: gray;
}

.header {
  background-color: #FF6347;
}

.main {
  background-color: #00BFFF;
}

.aside1 {
  background-color: #FFD700;
}

.aside2 {
  background-color: #FF69B4;
}

.footer {
  background-color: #90EE90;
}
