.app-container {
  background-color: gray;
}

.header {
  background-color: green;
}

.main {
  background-color: blue;
}

.aside1 {
  background-color: yellow;
}

.aside2 {
  background-color: red;
}
